body {
  color: #222;
  font-size: 1.125rem;
  background-color: #eee;
}

header {
  background-color: black;
}

.logo {
  width: 100%;
  height: 11rem;
  object-fit: contain;
}
nav {
  background-color: #222;
  color: #eee;
}

.nav-link {
  color: #999;
  text-decoration: none;
  letter-spacing: .066rem;
  line-height: 2rem;
}
.nav-link.active {
  color: white;
}

main {
  margin: 2rem auto;
  max-width: 42rem;
}

/* .blockquote {
  margin: auto;
  max-width: 37rem;
  font-size: 107%;
  font-style: italic;
} */

#five-solutions > li {
  /* margin-top: 1.5rem; */
}
#five-solutions > li::marker {
  font-size: calc(1.375rem + .5vw);
}

.name {
  font-size: 150%;
  font-style: italic;
  font-weight: 200;
}
footer {
  font-size: .75em;
  font-style: italic;
}